*{
  box-sizing: border-box; /* Prevents stuff from overflowing their containers - applies to everything*/
}
@media (max-width: 400px) {
  html {
      font-size: 14px; /* scale text on phones */
  }
}
body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.cocktailContent{
  padding-top:60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  background-color: #F5FBFF;
  color: grey;
  padding: 2em 1em;
  gap: 2em;
}
.cocktail-frame{
  width: 100%;
  border-radius: 1rem;
  z-index: 0;
}
.cocktail-frame img{
  height: auto;
  width: 100%;
  /* max-width: 500px; */
  overlay:block;
  border-radius: 1rem;
  object-fit: contain;
  z-index: 0;
  display: block;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E5F3FD;
  text-align: center;
  padding: 10px;
  box-shadow: 10px 10px 8px grey;
  z-index: 9999;
}
.footer {
  padding: 10px;
  text-align: center;
  height: 100px;
  z-index: 9999;
}

