*{
    box-sizing: border-box; /* Prevents stuff from overflowing their containers - applies to everything*/
}
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 16px;
}

@media (max-width: 400px) {
    html {
        font-size: 14px; /* scale text on phones */
    }
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.age-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.age-box {
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 0.8rem;
  text-align: center;
  width: 300px;
}

.age-box button {
  margin: 1rem;
  padding: 0.7rem 1rem;
  border: none;
  background: #333;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.age-box button:hover {
  background: #555;
}

.navbar {
    position: fixed;
    flex-direction: row;
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 50px;
    overflow: hidden;
    padding: 0 1em;
    background-color: #E5F3FD;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;  
    box-shadow: 10px 10px 8px grey;
}
.left img{
    width: 22px;
    color: white;
    text-align: center;
    height:22px;
    margin-left: 0.3cm;
}
.right .hamburger{
    width: 50px;
    height: 15px;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    cursor: pointer;
}
.right .hamburger div{
    height: 2px; /*Line thickness*/
    background-color: grey;
    transition: all 0.3s ease;
    border-radius: 0px; /*Line roundness*/
}
.menu{
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    z-index: 1000;
}
.menu a{
    padding: 1em;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.menu a:hover{
    background-color: #ddd;
}
.animatedbg{
    min-height: calc(100vh - 50px);
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.animatedbg .animated-div{
    position: absolute;
    border-radius: 3rem;
    animation: gradient 4s infinite;
}
.bgtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(2rem, 6vw, 5rem);;
    font-weight: bold;
    text-align: center;
    z-index: 1
}
.bgtext h2{
    font-family: climate crisis;
    color: white;
    text-shadow: 2px 2px 4px black;
}
/* Used to define animation sequence */
@keyframes gradient{
    50%{
        transform: scale(1.3)translate(100px);
    }
}
.animatedbg div:nth-child(1){
    height: 100%;
    width: 100%;
    background-color:#ff0077;
}
.animatedbg div:nth-child(2){
    height: 80%;
    width: 70%;
    /* background-color:#e797b1; */
    background-color:#FF5F1F;
    animation-delay: 2s;
    top: -12%;
    right: -12%;
}
.animatedbg div:nth-child(3){
    height:50%;
    width: 75%;
    /* background-color:#6F00FF; */
    background-color:#CCFF00;
    bottom: -10%;
    left: -5%;
    animation-delay: 1s;
}
.animatedbg div:nth-child(4){
    height: 65%;
    width: 80%;
    background-color:#ffc500;
    bottom: -15%;
    right: -20%;
    animation-delay: 1s;
}
.animatedbg div:nth-child(5){
    height: 50%;
    width: 20%;
    background-color:#BF00FF;
    top: 15%;
    left: 30%;
    animation-delay: 1s
}
.animatedbg::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(200px);
}
.homeContent{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    background-color: #F5FBFF;
    color: grey;
}
.Blue-img{
    width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
    z-index: 0;
}
.Blue-img img{
    height: auto;
    width: 100%;
    /* max-width: 600px; */
    object-fit: contain;
    z-index: 0;
    border-radius: 1rem;
    display: block;
}
.object-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 4px black;
    pointer-events: none;
    font-family: climate crisis;
}
.secondPanel{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    background-color: #F5FBFF;
    color: grey;
}
.secondFrame{
    width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
    z-index: 0;
}






@media (max-width: 400px) {

    .navbar {
        height: 45px;
    }

    .homeContent {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 3em;
    }

    .object-text {
        font-size: 1.2em;
    }
}
footer{
  position: flexed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E5F3FD;
  text-align: center;
  padding: 10px;
  box-shadow: 10px 10px 8px grey
}
.footer {
  padding: 10px;
  text-align: center;
  height: 100px;
  z-index: 999;

}


