*{
    box-sizing: border-box; /* Prevents stuff from overflowing their containers - applies to everything*/
}
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0 1em;
    background-color: #E5F3FD;
    align-items: center;
    justify-content: space-between;
    z-index: 999;  /*Above animated bg*/
    box-shadow: 10px 10px 8px grey;
}
.left img{
    width: 18px;
    color: white;
    text-align: center;
    height:20px;
    margin-left: 0.3cm;
}
.right .hamburger{
    width: 50px;
    height: 15px;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    cursor: pointer;
}
.right .hamburger div{
    height: 2px; /*Line thickness*/
    background-color: grey;
    transition: all 0.3s ease;
    border-radius: 0px; /*Line roundness*/
}
.menu{
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    z-index: 1000;
}
.menu a{
    padding: 1em;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.menu a:hover{
    background-color: #ddd;
}
.animatedbg{
    min-height: calc(100vh - 50px);
    overflow: hidden;
    position: relative;
    z-index: 0;

}
.animatedbg .animated-div{
    position: absolute;
    border-radius: 3rem;
    animation: gradient 4s infinite;
}
.bgtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    z-index: 1
}
.bgtext h1{
    font-family: climate crisis;
    color: white;
    text-shadow: 2px 2px 4px black;
}
/* Used to define animation sequence */
@keyframes gradient{
    50%{
        transform: scale(1.3)translate(100px);
    }
}
.animatedbg div:nth-child(1){
    height: 100%;
    width: 100%;
    background-color:#ff0077;
}
.animatedbg div:nth-child(2){
    height: 80%;
    width: 70%;
    /* background-color:#e797b1; */
    background-color:#FF5F1F;
    animation-delay: 2s;
    top: -12%;
    right: -12%;
}
.animatedbg div:nth-child(3){
    height:50%;
    width: 75%;
    /* background-color:#6F00FF; */
    background-color:#CCFF00;
    bottom: -10%;
    left: -5%;
    animation-delay: 1s;
}
.animatedbg div:nth-child(4){
    height: 65%;
    width: 80%;
    background-color:#ffc500;
    bottom: -15%;
    right: -20%;
    animation-delay: 1s;
}
.animatedbg div:nth-child(5){
    height: 50%;
    width: 20%;
    background-color:#BF00FF;
    top: 15%;
    left: 30%;
    animation-delay: 1s
}
.animatedbg::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(200px);
}
.homeContent{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    background-color: #F5FBFF;
    color: grey;
    padding-left: 2em;
}
.frame{
    display : flex;
    position: relative;
    flex-direction: column;
    gap: 0;
}
.object {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 2rem;
    overflow: hidden;
    z-index: 1;
}
.animated-item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#FF5F1F,#ffc500,#CCFF00);
    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite ;
    border-radius: inherit;
}
@keyframes gradientShift{
    0% { background-position: 20% 50%;}
    50% { background-position: 100% 50%;}
    100%{background-position: 20% 50%;}
}
.frame .object:nth-child(1){
    /* transform: translate(-60px, 40px); */
    width: 800px;
}
.frame .object:nth-child(2){
    transform: translate(-60px, 40px);
    margin-left: 400px;
    margin-top: 40px;
    width: 800px;   
}
.frame .object:nth-child(3) {
    transform: translate(-120px, 80px);
    margin-left: 900px;
    margin-top: 40px;
    width: 800px;
}


